@media all{
/* Header */
.justify-content-end{justify-content:flex-end!important;}
.titulo{
    padding-top:3rem!important;
    padding-bottom:3rem!important;
}
.navbar-light{background-color:#fff;
    box-shadow:0 3px 6px #00000029;
}
header .nav-item a.nav-link{
    padding:.25rem 1rem;
    text-decoration:none!important;
}
@media (min-width: 752px){
    .navbar{
        height:5rem;
        padding-top:1rem;
        padding-bottom:1rem;
    }
    .navbar .header-logo{
        height:2.875rem;
    }
}
@media (max-width: 976px){
    header{height:unset!important;}
    header .navbar-nav{margin-top:10px;align-items:start;}
    header .navbar-nav a.nav-link{margin:4px 2px;}
}
.navbar-light .navbar-nav .nav-link{color:#00000080;}
.navbar{height:4rem;}
.navbar .header-logo{height:2.125rem;}
/* Integrantes*/
li ul{
    display: none; 
}
li:hover > ul{
    display: block;
    position: absolute;
    background-color: rgb(241, 241, 241);
    border-radius: 8px;
    text-align: center;
}
.nav-link:hover{
    box-shadow:0 0 0 .125rem #007bc7;
}
header .nav-item.active a.nav-link{
    background-color:#007bc7;
    color:#fff!important;
}
.nav-link{
    display:block;
    font-size:1.125rem;
    border-radius:.5rem;
}

/* cuerpo */
body{background-color:#e6ebf0;}
.bg-white{background-color:#fff!important;}

/* Alineaciones*/
.align-items-center{align-items:center!important;}
.container,.container-md{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
}
.row{
    margin-right:-15px;
    margin-left:-15px;
}
.col-xl-8,.col-xl-4,.col-lg-4,.alinear,.col-md-7,.col-md-6,.col-md-5{
    padding-right:15px;
    padding-left:15px;
}
.col-lg-8{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top:3rem!important;
    padding-bottom:3rem!important;
    max-width: 720px;
}

/* Footer */
.main-footer{
    padding:3rem 0;
    border-top:.25rem solid #fdd306;
    background-color:#38485c!important;
    color:#fff!important;
}
.main-footer a{
    text-decoration:underline;
    color:#fff!important;
}
.main-footer section{margin-bottom:3rem;}
.main-footer section.footer-legal-section{
    margin-top:4.5rem;
    margin-bottom:1.5rem;
}
.main-footer .list-inline .list-inline-item{
    margin-right:2rem;
}
.caba_imagen{margin-right:1rem!important;}
/* links en footer*/
.list-inline{padding-left:0;list-style:none;}
.list-inline-item{display:inline-block;}
/*! Iconos de redes sociales */
.bx{font-family:boxicons!important;font-weight:400;font-style:normal;font-variant:normal;line-height:1;text-rendering:auto;display:inline-block;text-transform:none;speak:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.bxl-facebook-circle:before{content:"\e930";}
.bxl-instagram:before{content:"\e942";}
.bxl-linkedin:before{content:"\e94d";}
.bxl-twitter:before{content:"\e982";}
.bxl-youtube:before{content:"\e992";}
@font-face{font-family:boxicons;font-weight:400;font-style:normal;src:url(https://unpkg.com/boxicons@2.1.1/fonts/boxicons.eot);src:url(https://unpkg.com/boxicons@2.1.1/fonts/boxicons.eot) format('embedded-opentype'),url(https://unpkg.com/boxicons@2.1.1/fonts/boxicons.woff2) format('woff2'),url(https://unpkg.com/boxicons@2.1.1/fonts/boxicons.woff) format('woff'),url(https://unpkg.com/boxicons@2.1.1/fonts/boxicons.ttf) format('truetype'),url(https://unpkg.com/boxicons@2.1.1/fonts/boxicons.svg?#boxicons) format('svg');}


/* General */
footer,header,nav,section{display:block;}

*{
    font-family:'Nunito';
    font-style:normal;
    font-stretch:100%;
    font-display:swap;
}

body{
    margin:0;
    line-height:1.5;
    color:#38485c;
    text-align:left;
}

/* containers*/
@media (min-width: 592px){
.container{max-width:560px;}
}
@media (min-width: 752px){
.container-md,.container{max-width:720px;}
}
@media (min-width: 976px){
.container-md,.container{max-width:944px;}
}





@media (min-width: 752px){
.col-md-5{flex:0 0 41.66666667%;max-width:41.66666667%;}
.col-md-6{flex:0 0 50%;max-width:50%;}
.col-md-7{flex:0 0 58.33333333%;max-width:58.33333333%;}
.col-md-8{flex:0 0 66.66666667%;max-width:66.66666667%;}
}
@media (min-width: 976px){
.col-lg-4{flex:0 0 33.33333333%;max-width:33.33333333%;}
.order-lg-2{order:2;}
}
@media (min-width: 1120px){
.col-xl-4{flex:0 0 33.33333333%;max-width:33.33333333%;}
.col-xl-8{flex:0 0 66.66666667%;max-width:66.66666667%;}
}

.navbar{
    position:relative;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-between;
    padding:.5rem 1rem;
}
.navbar .container-md{display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;}
.navbar-brand{display:inline-block;padding-top:0;padding-bottom:0;margin-right:1rem;font-size:1.25rem;line-height:inherit;white-space:nowrap;}
.navbar-brand:hover,.navbar-brand:focus{text-decoration:none;}
.navbar-nav{display:flex;flex-direction:column;padding-left:0;margin-bottom:0;list-style:none;}
.navbar-nav .nav-link{padding-right:0;padding-left:0;}
.navbar-collapse{flex-basis:100%;flex-grow:1;align-items:center;}
.navbar-toggler{padding:.25rem .75rem;font-size:1.25rem;line-height:1;background-color:transparent;border:1px solid transparent;border-radius:.25rem;}
.navbar-toggler:hover,.navbar-toggler:focus{text-decoration:none;}
.navbar-toggler-icon{display:inline-block;width:1.5em;height:1.5em;vertical-align:middle;content:"";background:50%/100% 100% no-repeat;}
@media (max-width: 975.98px){
.navbar-expand-lg>.container-md{padding-right:0;padding-left:0;}
}
@media (min-width: 976px){
.navbar-expand-lg{flex-flow:row nowrap;justify-content:flex-start;}
.navbar-expand-lg .navbar-nav{flex-direction:row;}
.navbar-expand-lg .navbar-nav .nav-link{padding-right:.5rem;padding-left:.5rem;}
.navbar-expand-lg>.container-md{flex-wrap:nowrap;}
.navbar-expand-lg .navbar-collapse{display:flex!important;flex-basis:auto;}
.navbar-expand-lg .navbar-toggler{display:none;}
}

/* Hs */
h1,h3,h4{
    margin-top:0;
    margin-bottom:.5rem;
    line-height:1.2;
}
h1{font-size:3.2rem;
    font-weight:700;
    margin-top: 20px;
}
h3{
    font-size:2rem;
    margin-top: 40px;
    margin-bottom: 10px;
}
h2{
    font-size:2.8rem;
    margin-top: 100px;
    text-decoration: underline;
}
h4{font-size:1.1875rem;}


p,h3{orphans:3;widows:3;}
p{margin-top:0;margin-bottom:1rem;}
ol,ul{margin-top:0;margin-bottom:1rem;}
p,li{line-height:1.5;}
}

.chartlinea{
    margin-top: 100px;
}

@font-face{font-family:'Nunito';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Nunito';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}